<div class="container">
  <div class="row">
    {{#each reviews as |review|}}
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{review.imgURL}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{review.title}}</h5>
                <h6 class="card-text">Reviewed by: {{review.username}}</h6>
                <p class="card-text">{{review.content}}</p>
            </div>
        </div>
    </div>
    {{/each}}
    <aside class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3">
            <div class="bg-light border rounded-3 p-1 h-100 sticky-top">
                <div id="recent">Recent Searches</div>
                <ul id="sidebar" class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
                    
                </ul>
            </div>
        </aside>
  </div>
</div>
<script src="/js/home.js"></script>