<main class="container">
    <h2 id="title">Login</h2>
    <form id="userForm">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="userNameInput" aria-describedby="username">
      </div>
      <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput">
      </div>
      <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a id="title2" href="#">Sign-Up</a>
</main>

<script src="./js/login.js"></script>