<main class="container" >
  
  <h2 id="welcomeTitle" >Welcome</h2>
  <div class="card" style="width: 30rem;" >
  <div class="card-body">
    <div class="bg-warning p-2 text-white"><h4 class="card-title" >What would you like to do today?</h4></div>
    <p class="card-text">Always a good day to post a review of a good game! And dont forget to lookup a review of that new game you heard about.</p>
    <button type="button" class="btn btn-primary">Post Review</button>
    <button type="button" class="btn btn-primary">Lookup Reviews</button>
    <div class="bigText"></div>
    
  </div>

</div>

<div style="align-items: center;"><h1 class="textHolder">This website holds Great Reviews on Steam Games. Thinking about playing a Steam game, come and checkout or reviews. Games are not cheap, why waist your money on a dud?!</h1></div>

  <div>
   <h3 class="bg-info p-2 text-white">My Posted Reviews</h3>
     <div class="card" style="width: 81rem;">
        <div class="repeater"> {{! might need a { {#each } } here or somewhere near in code--}}
          {{!-- <p class="h6">This is where the post from the current User goes. How I am to get it here no Idea.</p> --}}
          <section class="review">
            <div class="review-details">
              <h3>Game Name:{{review.title}}</h3>
              <p>Reviewed By: {{review.username}}</p>
              <p>Game Review:{{review.content}} </p>
    
            </div>
            <img src="/images/{{review.imgURL}}" alt="photo of review game">
          </section>
        </div>
        

      </div>

  </div>


</main>

<script src="../public/js/user.js"></script>

