<main class="container" >
  
  <h2 id="welcomeTitle" c>Welcome</h2>
  <div class="card" style="width: 30rem;" >
  <div class="card-body">
    <div class="bg-success p-2 text-white"><h5 class="card-title" >What would you like to do today?</h5></div>
    <p class="card-text">Always a good day to post a review of a good game!.</p>
    <a href="#" class="card-link">Post Game Review</a>
    <a href="#" class="card-link">Checkout Reviews</a>
    <div class="bigText"></div>
    
  </div>

</div>
<h1 class="textHolder">This website holds Great Reviews on Steam Games. Thinking about playing a Steam game, come and checkout or reviews. Games are not cheap, why waist</h1>



</main>