.recentSearch{
    background-color: rgb(226, 226, 226);
    margin:2px 0px;
    border-radius: 3px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:inherit;
    text-align:center;
}

.recentSearch:hover{
    cursor:pointer;
}

#recent{
    text-align:center;
}